.windows{
    border-radius: 15px;
    justify-content: space-between;
    margin-right: 15px;
}

.largeWindow{
    border-radius: 25px;
}

.windowsContainer{

}
.centerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
