.windows{
    border-radius: 15px;
    justify-content: space-between;
    margin-right: 15px;
}

.largeWindow{
    border-radius: 25px;
}

.windowsContainer{

}
.centerStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.parent {
    display: flex;
    flex-direction: column; /* Stack child divs vertically */
    align-items: center; /* Center child divs horizontally */
    width: 300px;
    height: 200px;
    /*background-color: #ccc;*/

    padding: 10rem;
}

.child {
    width: 300px;
    height: 100px;
    align-items: center;
    /*background-color: inherit; {!*doesn't inherit anything *!}*/


    /*margin: 10px;*/
    margin-left: 50px;

}
