<mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer>I'm a drawer</mat-drawer>
    <mat-drawer-content>
            <mat-label>Sidenav mode</mat-label>

        <button (click)="myFunc()">CLICK ME</button>
        <mat-form-field>
            <mat-label>Has backdrop</mat-label>
            <mat-select #hasBackdrop>
                <mat-option>Unset</mat-option>
                <mat-option [value]="true">True</mat-option>
                <mat-option [value]="false">False</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>

    </mat-drawer-content>
</mat-drawer-container>

