<mat-drawer-container class="example-container">
    <mat-drawer #drawer>I'm a drawer</mat-drawer>
    <mat-drawer-content>


        <button mat-icon-button color="primary" (click)="myFunc()" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="myFunc()" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="myFunc()" aria-label="Example icon button with a menu icon">
            <mat-icon svgIcon="cog" aria-hidden="false" (click)="myFunc()"
            aria-label="Example thumbs up SVG icon"></mat-icon>
        </button>


    </mat-drawer-content>
</mat-drawer-container>

